.qs-meta-box .qs-media .qs-container {
  margin-left: -5px;
  margin-right: -5px; }

.qs-media-single .qs-container {
  margin: 0;
  border-top: none; }
.qs-media-single img {
  max-width: 100%;
  height: auto;
  width: auto; }

.qs-media-multiple .qs-preview {
  float: left;
  padding: 5px 0;
  margin: 0;
  font-style: italic; }
  .qs-media-multiple .qs-preview img {
    vertical-align: middle; }

.qs-media-preview-icon img {
  margin-right: 1em; }

.qs-media-multiple.qs-media-image .qs-item {
  float: left;
  padding: 0;
  margin: 5px;
  border: none; }
  .qs-media-multiple.qs-media-image .qs-item:before {
    content: none; }
  .qs-media-multiple.qs-media-image .qs-item:hover .qs-delete {
    opacity: 1; }
.qs-media-multiple.qs-media-image .qs-preview {
  float: none;
  display: block;
  padding: 2px;
  border: 1px solid #eee; }
.qs-media-multiple.qs-media-image .qs-delete {
  float: none;
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 0;
  opacity: 0;
  text-align: center;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.qs-media-gallery img {
  float: left;
  margin: 4px 4px 0 0;
  padding: 2px;
  border: 1px solid #ddd; }
.qs-media-gallery .qs-preview {
  margin: 6px 0 0;
  padding: 0; }

.qs-media-value-empty .qs-clear {
  display: none; }
