.qs-order-manager {
  margin: 0 0 10px 0;
  max-width: 500px; }
  .qs-order-manager ol {
    margin: 0;
    position: relative; }
    .qs-order-manager ol:before {
      content: '';
      position: absolute;
      left: -1px;
      top: 12px;
      bottom: 10px;
      border-left: 1px dotted #ccc; }
    .qs-order-manager ol ol {
      margin-left: 10px; }
    .qs-order-manager ol:before, .qs-order-manager ol:after {
      content: '';
      position: absolute;
      left: -1px;
      width: 1px;
      background: #f1f1f1; }
  .qs-order-manager li {
    clear: both;
    list-style: none;
    position: relative;
    line-height: 21px;
    margin: 0; }
    .qs-order-manager li:before, .qs-order-manager li:after {
      content: ''; }
    .qs-order-manager li:before {
      position: relative;
      float: left;
      width: 10px;
      border-bottom: 1px dotted #ccc;
      margin: 12px 5px 0 -1px; }
    .qs-order-manager li li:first-child:before {
      border-left: 1px dotted #ccc;
      height: 12px;
      margin-top: 0; }
  .qs-order-manager .inner {
    margin-left: 10px;
    border: 1px dotted transparent; }
    .qs-order-manager .inner:hover {
      border-color: #ccc; }
  .qs-order-manager .qs-placeholder {
    height: 23px; }
