@import 'utilities';

.qs-media{
	margin: 20px 0;

	.qs-container {
		margin-bottom: 0;
	}

	.qs-meta-box & {
		margin: 0;

		.qs-container {
			padding: 0;
		}
	}
}
	.qs-media-single{
		.qs-container{
			margin: 0;
			border-top: none;
		}

		img{
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}

	.qs-media-multiple{
		.qs-preview{
			float: left;
			padding: 5px 0;
			margin: 0;
			font-style: italic;

			img{
				vertical-align: middle;
			}
		}
	}
		.qs-media-preview-icon {
			img {
				margin-right: 1em;
			}
		}
		.qs-media-multiple.qs-media-file {
			.qs-item {
				padding-left: 10px;

				.qs-meta-box & {
					padding-left: 0;
				}
			}
		}
		.qs-media-multiple.qs-media-image{
			.qs-container {
				padding: 5px;

				.qs-meta-box & {
					padding: 0;
				}
			}
			.qs-item{
				float: left;
				padding: 0;
				margin: 5px;
				border: none;

				&:before{
					content: none;
				}

				&:hover .qs-delete{
					opacity: 1;
				}

				.qs-meta-box & {
					margin: 10px 10px 0 0;
				}
			}
				.qs-preview{
					float: none;
					display: block;
					padding: 2px;
					border: 1px solid #eee;
				}
				.qs-delete{
					float: none;
					position: absolute;
					bottom: 3px;
					left: 3px;
					right: 3px;
					border-radius: 0;
					opacity: 0;
					text-align: center;
					@include transition(opacity .2s linear);
				}
		}

	.qs-media-gallery{
		img{
			float: left;
			margin: 4px 4px 0 0;
			padding: 2px;
			border: 1px solid #ddd;
		}
		.qs-preview{
			margin: 6px 0 0;
			padding: 0;
		}
	}

.qs-media-value-empty .qs-clear {
	display: none;
}