.qs-order-manager{
	margin: 0 0 10px 0;
	max-width: 500px;

	ol{
		margin: 0;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -1px;
			top: 12px;
			bottom: 10px;
			border-left: 1px dotted #ccc;
		}

		ol{
			margin-left: 10px;
		}

		&:before,
		&:after{
			content: '';
			position: absolute;
			left: -1px;
			width: 1px;
			background: #f1f1f1;
		}
	}
		li{
			clear: both;
			list-style: none;
			position: relative;
			line-height: 21px;
			margin: 0;

			&:before,
			&:after{
				content: '';
			}

			&:before{
				position: relative;
				float: left;
				width: 10px;
				border-bottom: 1px dotted #ccc;
				margin: 12px 5px 0 -1px;
			}
			& li:first-child:before{
				border-left: 1px dotted #ccc;
				height: 12px;
				margin-top: 0;
			}
		}
			.inner{
				margin-left: 10px;
				border: 1px dotted transparent;

				&:hover{
					border-color: #ccc;
				}
			}
		.qs-placeholder{
			height: 23px;
		}
}