#qs_sections-repeater{
	.qs-item {
		position: relative;
		padding-top: 8px;
		padding-bottom: 8px;

		&:before {
			height: 45px;
			line-height: 45px;
		}
	}
		.qs-item-fields{
			margin-right: 120px;
		}
		.qs-delete,
		.qs-edit-section {
			position: absolute;
			top: 8px;
		}
		.qs-delete {
			right: 48px;
			margin: 0;
			width: 65px;
		}
		.qs-edit-section {
			right: 118px;
			width: 45px;
		}
}