@import 'utilities';

.qs-addfile{
	.qs-preview{
		float: left;
		padding: 5px 0;
		margin: 0;
		font-style: italic;
	}
	&.multiple{
		.qs-item{
			padding: 5px 0;
			border-bottom: 1px solid #eee;
		}
			.qs-delete{
				float: right;
			}
		.qs-container{
			margin: 10px 0 0;
			border-top: 1px solid #eee;
		}
	}
	&.media-image{
		.qs-item{
			float: left;
			width: 156px;
			padding: 10px 10px 0 0;
			border: none;
		}
			.qs-preview{
				float: none;
				display: block;
				padding: 2px;
				border: 1px solid #eee;
			}

		&.multiple{
			.qs-item{
				&:hover .qs-delete{
					opacity: 1;
				}
			}
				.qs-delete{
					float: none;
					position: absolute;
					bottom: 3px;
					left: 3px;
					width: 150px;
					-webkit-border-radius: 0;
					border-radius: 0;
					opacity: 0;
					-webkit-transition: .2s linear opacity;
					transition: .2s linear opacity;
				}
		}
	}
}

.qs-editgallery{
	img{
		float: left;
		margin: 0 4px 4px 0;
		border: 1px solid #dfdfdf;
	}
	.qs-preview{
		@extend %clearfix;
		margin: 12px 0 6px;
		padding: 0;
	}
}